# Installing Pandas 0.25

In [1]:
!pip install pandas==0.25.0

Requirement already satisfied: pandas==0.25.0 in /home/harun/anaconda3/lib/python3.7/site-packages (0.25.0)
Requirement already satisfied: numpy>=1.13.3 in /home/harun/anaconda3/lib/python3.7/site-packages (from pandas==0.25.0) (1.16.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/harun/anaconda3/lib/python3.7/site-packages (from pandas==0.25.0) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /home/harun/anaconda3/lib/python3.7/site-packages (from pandas==0.25.0) (2018.9)
Requirement already satisfied: six>=1.5 in /home/harun/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas==0.25.0) (1.12.0)

# Check Pandas Version

In [2]:
import pandas as pd

In [3]:
print('pandas: {}'.format(pd.__version__))

pandas: 0.25.0

<b> Yes Done!! </b>

# Make dataset

In [4]:
df = pd.DataFrame({'Movie':['The Godfather','The Lion King','Good Boys'],
                   'Genres':['Crime,Drama','Animation, Adventure, Drama','Adventure, Comedy']},
                 
                 index=['1','2','3'])

# Problem:Series contain comma-separated items

In [5]:
df

           Movie                       Genres
1  The Godfather                  Crime,Drama
2  The Lion King  Animation, Adventure, Drama
3      Good Boys            Adventure, Comedy

# Solution: Create one row for each items

In [6]:
df.assign(Genres=df.Genres.str.split(',')).explode('Genres')

           Movie      Genres
1  The Godfather       Crime
1  The Godfather       Drama
2  The Lion King   Animation
2  The Lion King   Adventure
2  The Lion King       Drama
3      Good Boys   Adventure
3      Good Boys      Comedy