In [1]:
# linear algebra
import numpy as np 
# data processing
import pandas as pd 
# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

C:\Users\Shimanto\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
print("Load and Read Datasets")

Load and Read Datasets

In [5]:
train.head()

,age,workclass,education,occupation,hours-per-week,country,salary
0,39,State-gov,Bachelors,Adm-clerical,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Exec-managerial,13,United-States,<=50K
2,38,Private,HS-grad,Handlers-cleaners,40,United-States,<=50K
3,53,Private,11th,Handlers-cleaners,40,United-States,<=50K
4,28,Private,Bachelors,Prof-specialty,40,Cuba,<=50K

In [6]:
train.tail()

,age,workclass,education,occupation,hours-per-week,country,salary
22,35,Federal-gov,9th,Farming-fishing,40,United-States,<=50K
23,43,Private,11th,Transport-moving,40,United-States,<=50K
24,59,Private,HS-grad,Tech-support,40,United-States,<=50K
25,56,Local-gov,Bachelors,Tech-support,40,United-States,>50K
26,19,Private,HS-grad,Craft-repair,40,United-States,<=50K

In [ ]:
test.head()

# Data Prepossing

In [ ]:
train.isnull().sum()

In [ ]:
test.isnull().sum()

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
def encode_features(data_set, feature_names):
    for feature_name in feature_names:
        le = LabelEncoder()
        le.fit(data_set[feature_name])
        encoded_column = le.transform(data_set[feature_name])
        data_set[feature_name] = encoded_column
    return data_set

In [ ]:
features_to_encode = ['age', 'salary']
train_data = encode_features(train, features_to_encode)
train_data.head(10)

In [ ]:
features_to_encode = ['age', 'salary']
test_data = encode_features(test, features_to_encode)
test_data.head(10)

In [ ]:
features_drop = ['workclass', 'education','occupation','hours-per-week','country']
train = train.drop(features_drop, axis=1)
test = test.drop(features_drop, axis=1)

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
X_train = train.drop("salary", axis=1)
Y_train = train["salary"]
X_test  = test.drop("age", axis=1).copy()

In [ ]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)
y_pred_log_reg = clf.predict(X_test)
acc_log_reg = round( clf.score(X_train, Y_train) * 100, 2)
print (str(acc_log_reg) + ' %')

In [ ]:
clf= LinearRegression()
clf.fit(X_train, Y_train)
y_pred_linear_reg = clf.predict(X_test)
acc_linear_reg = round( clf.score(X_train, Y_train) * 100, 2)
print (str(acc_linear_reg) + ' %')

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train, Y_train)

Y_prediction_randomforest = clf.predict(X_test)

clf.score(X_train, Y_train)
acc_random_forest = round(clf.score(X_train, Y_train) * 100, 2)
print(str(acc_random_forest) + '%')

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(X_train, Y_train)
y_pred_decision_tree = clf.predict(X_test)
acc_decision_tree = round(clf.score(X_train, Y_train) * 100, 2)
print (str(acc_decision_tree) + '%')

In [ ]:
models = pd.DataFrame({
    'Model': ['Logistic Regression',  'Linear Regression','Decision Tree', 'Random Forest'],
    
    'Score': [acc_log_reg, acc_linear_reg,
                acc_decision_tree, acc_random_forest]
    })

models.sort_values(by='Score', ascending=False)

In [ ]:
submission = pd.DataFrame({
        "salary": test["salary"],
        "age": y_pred_decision_tree
    })
submission.to_csv('final.csv', index=False)

# Finished !!